.navbar {
  display: flex;
  padding: 26px 12px;
  background-color: var(--dark-color);
  opacity: 0.4;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  position: sticky;
  z-index: 1000;
}

.navList {
  font-size: 16px;
  font-weight: bold;
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navListItems {
  margin: 5px;
}

.navLink {
  text-decoration: none;
  color: var(--light-color);
}

.navListItems .logoutButton {
  all: unset;
  background-color: none;
  color: var(--light-color);
}

.loadingSpinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.spinnerIcon {
  font-size: 50px;
  color: #333;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 745px) {
  .logoIcon {
    height: 70px;
  }

  .navbar {
    padding: 51px;
  }

  .navList {
    font-size: 24px;
  }

  .navListItems {
    margin: 0 16px;
  }

  .loadingSpinner {
    height: 300px;
  }

  .spinnerIcon {
    font-size: 70px;
  }
}

@media (min-width: 1024px) {
  .navbar {
    padding: 51px 64px;
  }
  .navListItems {
    margin: 0 24px;
  }
}
